sizes(w,h)  
   width w
   height h 
flexer(jc,ai)
   display: flex
   flex-flow: row wrap
   justify-content jc
   align-items ai
title-fonter()
   font-family: 'Yeseva One', cursive;
fonter-glitc()
   font-family: 'Rubik Glitch', cursive;
default-font()
   font-family: 'Comfortaa', cursive;

.girl-banner
   sizes(100%,400px)
   background: url('bunny.png')
   background-size 100%
.social-cont
   flexer(flex-end,center)
   margin 10px
.social-medias-img
   sizes(60px,60px)
   margin-right 10px
.hhh
   color white
   margin 15px
