sizes(w,h)  
   width w
   height h 
flexer(jc,ai)
   display: flex
   flex-flow: row wrap
   justify-content jc
   align-items ai
title-fonter()
   font-family: 'Yeseva One', cursive;
fonter-glitc()
   font-family: 'Rubik Glitch', cursive;
default-font()
   font-family: 'Comfortaa', cursive;

header
   sizes(100%,200px)
   background: url('header.png')
   background-size 100%
body 
   background-color #303030
.text-container
   sizes(94%,100%)
   margin-left 3%
.bout-title 
   color rgb(190, 190, 190) 
   title-fonter()
   margin-top 40px
ul 
   default-font()
   font-size: 30px
   color white 
   margin 30px
li
   margin-top 20px
   flexer(flex-start,center)
.mainpng
   sizes(400px,270px)
   background-size 100%
   float right