sizes(w,h)  
   width w
   height h 
default-font()
   font-family: 'Comfortaa', cursive;
.feld 
   background-color: black   
   color white     
   border none 
   outline none
   sizes(500px,30px)
   border-radius: 0px 0px 42px 0px / 0px 0px 21px 0px;
   default-font()