sizes(w,h)  
   width w
   height h 
flexer(jc,ai)
   display: flex
   flex-flow: row wrap
   justify-content jc
   align-items ai
title-fonter()
   font-family: 'Yeseva One', cursive;
fonter-glitc()
   font-family: 'Rubik Glitch', cursive;
default-font()
   font-family: 'Comfortaa', cursive;
 